.DS_Store
_site/
_site/404.html
_site/feed.xml
_site/index.html
_site/ACGBM/index.html
_site/about/index.html
_site/blog/index.html
_site/blog/2005/10/26/Beethoven/index.html
_site/blog/2007/04/05/Ankle-twisting/index.html
_site/blog/2007/09/26/Poem-to-Qinghe/index.html
_site/blog/2008/09/03/Impression-of-Shanghai-I/index.html
_site/blog/2008/09/05/Impression-of-Shanghai-II/index.html
_site/blog/2009/02/03/Impression-of-Shanghai-III/index.html
_site/blog/2009/04/06/Biking-diary-Shanghai/index.html
_site/blog/2009/04/20/Words-on-Photography/index.html
_site/blog/2009/05/21/Toughts-about-Xitang/index.html
_site/blog/2009/05/22/Poem-about-Xitang/index.html
_site/blog/2009/07/24/Tao-is-tao-a-special-tao/index.html
_site/blog/2009/12/20/portrait-on-life/index.html
_site/blog/2009/12/21/outline-of-a-novel/index.html
_site/blog/2010/01/03/Poem-Promise/index.html
_site/blog/2010/02/05/Summary-about-designing-with-Photoshop/index.html
_site/blog/2010/03/02/thoughts-on-quarrelling/index.html
_site/blog/2010/03/10/Suzhou-moved-15-cm-s/index.html
_site/blog/2010/04/29/Salvation/index.html
_site/blog/2010/05/07/The-ultimate-statistic/index.html
_site/blog/2010/05/22/for-those-spoken-and-those-unspoken/index.html
_site/blog/2010/06/15/cure-for-those-who-had-difficulties-with-communication/index.html
_site/blog/2010/07/01/new-theory-about-beauty/index.html
_site/blog/2010/08/23/on-the-road/index.html
_site/blog/2012/07/18/analyze-about-the-ios-app-gezbox/index.html
_site/blog/2013/05/28/Inner-Peace/index.html
_site/blog/2013/12/23/Words-on-Photography-2013/index.html
_site/blog/2014/10/17/Night-before-travelling/index.html
_site/blog/2015/05/19/bye-manager/index.html
_site/blog/2015/05/28/Superfly-My-Best-Of-My-Life/index.html
_site/blog/2015/07/28/lessons-that-girls-taught-me/index.html
_site/blog/2015/09/27/Project-RDFZ-The-Documentary-Part-I/index.html
_site/blog/2015/09/28/Project-RDFZ-the-Documentary-Part-II/index.html
_site/blog/2016/01/01/Summary-of-2015/index.html
_site/blog/2016/02/10/ChinaMetro-V-4-0-Released/index.html
_site/blog/2016/02/24/visual-design-for-Simptrue/index.html
_site/blog/2016/06/26/feeling-of-belong/index.html
_site/blog/2016/08/06/Advanced-Self-Examination-and-Status-Analyze/index.html
_site/blog/2016/08/11/Basic-Loveology/index.html
_site/blog/2016/09/21/the-rewrite-of-ChinaMetro-V4-0/index.html
_site/blog/2016/09/22/Advanced-Self-Examination-and-Status-Analyze-II/index.html
_site/blog/2016/10/09/Project-Matrix-Code-Rain/index.html
_site/blog/2016/10/13/Make-a-Matrix-Code-Rain-ScreenSaver-on-macOS/index.html
_site/blog/2016/12/08/A-Unified-Back-Button-Solution/index.html
_site/blog/2017/07/01/The-like-relationship-of-Qiyu/index.html
_site/blog/2018/05/01/crossroad-of-life/index.html
_site/blog/2019/01/10/photos-in-2018/index.html
_site/blog/2019/04/26/project-Crossroads/index.html
_site/blog/2019/04/29/feeling-pain/index.html
_site/blog/2019/05/08/podcast-jons-story-vol-01/index.html
_site/blog/2019/08/29/From-hanabi-to-Seto-naikai-1/index.html
_site/blog/2019/08/30/From-hanabi-to-Seto-naikai-2/index.html
_site/blog/2019/08/31/From-hanabi-to-Seto-naikai-3/index.html
_site/blog/2020/01/02/photos-of-2019/index.html
_site/blog/2020/06/11/a-weixin-app-for-npc-inquery/index.html
_site/blog/2020/08/23/soulmate/index.html
_site/blog/2020/12/28/2020-in-photos/index.html
_site/blog/2021/02/11/60-hours-before-clubhouse-app-was-blocked/index.html
_site/blog/2021/03/18/the-latter-half-of-the-nineth-round/index.html
_site/blog/2021/07/26/observation-of-wuhan/index.html
_site/blog/2021/08/13/travel-log-in-xinjiang-the-nature-part/index.html
_site/blog/2021/08/25/deduction-on-ideal-lifes/index.html
_site/blog/2021/09/10/a-fictional-history-of-my-family/index.html
_site/blog/2021/09/11/a-guide-for-information-get-and-check-on-this-post-information-age/index.html
_site/blog/2021/12/31/the-first-jonscar/index.html
_site/blog/2022/01/01/photos-in-2021/index.html
_site/blog/2022/03/23/information-get-and-check-2022-dlc/index.html
_site/blog/2022/04/15/Every-Generation-Has-Its-Movement/index.html
_site/blog/2022/05/03/an-interview-from-npr-radio/index.html
_site/blog/2022/05/06/Longing-for-a-better-life-doesn-t-mean-any-hate/index.html
_site/blog/2022/05/11/but-was-it-worth-it/index.html
_site/blog/2023/02/19/photos-in-2022/index.html
_site/blog/2023/02/28/home-sweet-home/index.html
_site/blog/2023/03/16/Build-your-own-automation-center-based-on-Github-Actions/index.html
_site/blog/2025/09/15/an-analyze-aid-by-AI/index.html
_site/photo/index.html
_site/photo/2013JapanKyotoNara/index.html
_site/photo/2013Qinghai/index.html
_site/photo/2013Taiwan/index.html
_site/photo/2014HKMacau/index.html
_site/photo/2015JapanNagano/index.html
_site/photo/2015RDFZReunion/index.html
_site/photo/2016GreatBritain/index.html
_site/photo/2017JapanKyushu/index.html
_site/photo/2018JapanHokkido/index.html
_site/photo/2018TaiwanCycling/index.html
_site/photo/2019Japan/index.html
_site/photo/2021Xinjiang/index.html
_site/photo/Beijing/index.html
_site/photo/Crossroads/index.html
_site/photo/FigurePhotos/index.html
_site/photo/Selected/index.html
_site/project/index.html
_site/project/china-metro-app/index.html
_site/project/crossroads-album/index.html
_site/project/dashuo-in-xinjiang/index.html
_site/project/golden-age-mv/index.html
_site/project/jonshowing-website/index.html
_site/project/life-invitation/index.html
_site/project/one-child-policy-video/index.html
_site/project/podcast/index.html
_site/project/posters/index.html
_site/project/rdfzer-10-years-reunion/index.html
_site/project/xinjiang-mv/index.html
_site/project/xujia-farewell/index.html
_site/tag/index.html
_site/tag/Career/index.html
_site/tag/Code/index.html
_site/tag/Desgin/index.html
_site/tag/Design/index.html
_site/tag/Life/index.html
_site/tag/Love/index.html
_site/tag/Music/index.html
_site/tag/Objective-C/index.html
_site/tag/Photoshop/index.html
_site/tag/Podcast/index.html
_site/tag/Python/index.html
_site/tag/RDFZ/index.html
_site/tag/Swift/index.html
_site/tag/iOS/index.html
_site/tag/macOS/index.html
_site/tag/上海/index.html
_site/tag/事实核查/index.html
_site/tag/产品设计/index.html
_site/tag/体验报告/index.html
_site/tag/作品/index.html
_site/tag/城市观察/index.html
_site/tag/小说/index.html
_site/tag/影评/index.html
_site/tag/怀旧/index.html
_site/tag/总结/index.html
_site/tag/恶搞/index.html
_site/tag/想法/index.html
_site/tag/感情/index.html
_site/tag/我家的虚构历史/index.html
_site/tag/摄影/index.html
_site/tag/政治/index.html
_site/tag/数据可视化/index.html
_site/tag/新冠疫情/index.html
_site/tag/旅行/index.html
_site/tag/日本/index.html
_site/tag/时事/index.html
_site/tag/架构/index.html
_site/tag/游戏/index.html
_site/tag/电影/index.html
_site/tag/科幻/index.html
_site/tag/统计/index.html
_site/tag/网络/index.html
_site/tag/脚本/index.html
_site/tag/自动化/index.html
_site/tag/自我剖析/index.html
_site/tag/苏州/index.html
_site/tag/观察/index.html
_site/tag/视觉设计/index.html
_site/tag/记录/index.html
_site/tag/设计/index.html
_site/tag/诗/index.html
_site/tag/读书/index.html
_site/tag/采访/index.html
_site/tag/骑行/index.html
_site/thought/index.html
_site/thought/201802season/index.html
_site/thought/201803season/index.html
_site/thought/201810/index.html
_site/thought/201811/index.html
_site/thought/201812/index.html
_site/thought/201901/index.html
_site/thought/201902/index.html
_site/thought/201903/index.html
_site/thought/201904-201907/index.html
_site/thought/201908-202007/index.html
_site/thought/202008-202011/index.html
_site/thought/202012-202102/index.html
_site/thought/202102season/index.html
_site/thought/202109-202110/index.html
_site/thought/202111-202202/index.html
_site/thought/2021vol01/index.html
_site/thought/2022-05-05-Thoughts-of-March-and-April/index.html
_site/thought/2022-05-30-Voice-of-May/index.html
_site/thought/202206-202208/index.html
_site/thought/202209-202210/index.html
_site/thought/202211-202212/index.html
_site/thought/202301-202305/index.html
_site/thought/202306-202312/index.html
_site/thought/2024/index.html
