---
layout: page
title : 书影游
category: acgbm
---
{% assign movies = site.data.movies %}
{% assign books = site.data.books %}
{% assign games = site.data.games %}
{% assign all_dates = site.data.movies | concat: site.data.books | concat: site.data.games | map: 'date' %}
{% assign years = "" | split: "" %}
{% for date in all_dates %}
  {% assign year = date | date: "%Y" %}
  {% assign years = years | push: year %}
{% endfor %}
{% assign all_years = years | uniq | sort | reverse %}

<div class="main-text">
  <h2>TOP PICK</h2>
  <p>这里汇集了我最喜欢的一些书籍、电影、剧集和游戏等。<br>之前我颁发过一届的<a href="/blog/2021/12/31/the-first-jonscar/">Jonscar</a>，这里也许可以称为<strong>终身Jonscar</strong>。</p>
  <div>
    <h3>书</h3>
    <span class="expand-all-button">展开全部详情</span>
      {% assign five_star_movies = books | where: "istop", "1.0" %}
      {% assign five_star_movies_sorted = five_star_movies | sort: "date" | reverse %}
    <ul class="movie-list">
    {% for movie in five_star_movies_sorted %}
      <li>
        <span class="movie-title">{{ movie.title }}</span><span class="expand-button"></span>
        <div class="movie-detail">
          <div class="movie-description">{{ movie.description }}</div>
          <div></div>
        {{ movie.comment }}<div class="movie-date">{{ movie.date | date: "%Y-%m-%d" }}标记</div>
        </div>
      </li>
    {% endfor %}
    </ul>
    <span class="expand-all-button at-bottom">展开全部详情</span>
  </div>

  <h3>影</h3>
    <h4>电影</h4>
    <div>
      <span class="expand-all-button">展开全部详情</span>
        {% assign five_star_movies = movies | where: "istopmovie", "1.0" %}
        {% assign five_star_movies_sorted = five_star_movies | sort: "date" | reverse %}
      <ul class="movie-list">
      {% for movie in five_star_movies_sorted %}
        <li>
          <span class="movie-title">{{ movie.title }}</span><span class="expand-button"></span>
          <div class="movie-detail">
            <div class="movie-description">{{ movie.description }}</div>
            <a href="{{ movie.link }}" style="border-bottom:none;"><img class="lazy" data-src="{{ site.baseurl }}/assets/acg-covers/movies/{{ movie.title }}.jpg" loading="lazy" referrer-policy="no-referrer" width="300" height="440"></a>
          {{ movie.comment }}<div class="movie-date">{{ movie.date | date: "%Y-%m-%d" }}标记</div>
          </div>
        </li>
      {% endfor %}
      </ul>
      <span class="expand-all-button at-bottom">展开全部详情</span>
    </div>
    
    <div>
      <h4>剧集</h4>
      <div>
        <span class="expand-all-button">展开全部详情</span>
          {% assign five_star_movies = movies | where: "istopseries", "1.0" %}
          {% assign five_star_movies_sorted = five_star_movies | sort: "date" | reverse %}
        <ul class="movie-list">
        {% for movie in five_star_movies_sorted %}
          <li>
            <span class="movie-title">{{ movie.title }}</span><span class="expand-button"></span>
            <div class="movie-detail">
              <div class="movie-description">{{ movie.description }}</div>
              <a href="{{ movie.link }}" style="border-bottom:none;"><img class="lazy" data-src="{{ site.baseurl }}/assets/acg-covers/movies/{{ movie.title }}.jpg" loading="lazy" referrer-policy="no-referrer" width="300" height="440"></a>
            {{ movie.comment }}<div class="movie-date">{{ movie.date | date: "%Y-%m-%d" }}标记</div>
            </div>
          </li>
        {% endfor %}
        </ul>
        <span class="expand-all-button at-bottom">展开全部详情</span>
      </div>
    </div>
    
    <h4>动画</h4>
    <div>
      <span class="expand-all-button">展开全部详情</span>
        {% assign five_star_movies = movies | where: "istopanime", "1.0" %}
        {% assign five_star_movies_sorted = five_star_movies | sort: "date" | reverse %}
      <ul class="movie-list">
      {% for movie in five_star_movies_sorted %}
        <li>
          <span class="movie-title">{{ movie.title }}</span><span class="expand-button"></span>
          <div class="movie-detail">
            <div class="movie-description">{{ movie.description }}</div>
            <a href="{{ movie.link }}" style="border-bottom:none;"><img class="lazy" data-src="{{ site.baseurl }}/assets/acg-covers/movies/{{ movie.title }}.jpg" loading="lazy" referrer-policy="no-referrer" width="300" height="440"></a>
          {{ movie.comment }}<div class="movie-date">{{ movie.date | date: "%Y-%m-%d" }}标记</div>
          </div>
        </li>
      {% endfor %}
      </ul>
      <span class="expand-all-button at-bottom">展开全部详情</span>
    </div>
    
  <h3>游</h3>
  <div>
    <span class="expand-all-button">展开全部详情</span>
        {% assign five_star_movies = games | where: "istop", "1.0" %}
        {% assign five_star_movies_sorted = five_star_movies | sort: "date" | reverse %}
      <ul class="movie-list">
      {% for movie in five_star_movies_sorted %}
        <li>
          <span class="movie-title">{{ movie.title }}</span><span class="expand-button"></span>
          <div class="movie-detail">
            <div class="movie-description">{{ movie.description }}</div>
            <a href="{{ movie.link }}" style="border-bottom:none;"><img class="lazy" data-src="{{ site.baseurl }}/assets/acg-covers/games/{{ movie.title }}.jpg" loading="lazy" referrer-policy="no-referrer" width="300" height="440"></a>
          {{ movie.comment }}<div class="movie-date">{{ movie.date | date: "%Y-%m-%d" }}标记</div>
          </div>
        </li>
      {% endfor %}
      </ul>
      <span class="expand-all-button at-bottom">展开全部详情</span>
  </div>

  <div class="movies-list">
    <h2>FULL LIST</h2>
    <p>上面是精选，这里则是我所有在豆瓣标记过的书影游作品的详细列表，您可以点击相应的年份和评分来查看。</p>
    <div class="movie-type">
      <a data-value="book" href="javascript:void 0" class="selected">书</a>
      <a data-value="movie" href="javascript:void 0">影</a>
      <a data-value="game" href="javascript:void 0">游</a>
    </div>
    
    <div class="movie-year">
      <a data-value="" href="javascript:void 0">全部</a>
      {% for year in all_years %}
        <a data-value="{{ year }}" href="javascript:void 0">{{ year }}</a>
      {% endfor %}
    </div>

    <div class="movie-rate">
      <a data-value="" href="javascript:void 0">全部</a>
      <a data-value="5" href="javascript:void 0">五星</a>
      <a data-value="4" href="javascript:void 0">四星</a>
      <a data-value="3" href="javascript:void 0">三星</a>
      <a data-value="2" href="javascript:void 0">二星</a>
      <a data-value="1" href="javascript:void 0">一星</a>
    </div>
    <div class="all-movies">
      <meta name="referrer" content="no-referrer">
      {% assign five_star_movies_sorted = movies | sort: "date" | reverse %}
      {% for movie in five_star_movies_sorted %}
      <div class="movie-single hide" data-value="{{ movie.date | date: '%Y' }}" data-rating="{{ movie.mine }}" data-type="movie">
        <a href="{{ movie.link }}"><img class="lazy" data-src="{{ site.baseurl }}/assets/acg-covers/movies/{{ movie.title }}.jpg" loading="lazy" referrer-policy="no-referrer" width="200" height="270"><div class="movie-title">{{ movie.title }}</div></a>
        <div class="movie-rating" data-rating="{{ movie.mine }}"></div>
        <div class="movie-comment">{{ movie.comment }}</div>
        <div class="movie-date">{{ movie.date | date: "%Y.%m.%d" }}标记</div>
      </div>
      {% endfor %}
      {% assign five_star_movies_sorted = games | sort: "date" | reverse %}
      {% for movie in five_star_movies_sorted %}
      <div class="movie-single hide" data-value="{{ movie.date | date: '%Y' }}" data-rating="{{ movie.mine }}" data-type="game">
        <a href="{{ movie.link }}"><img class="lazy" data-src="{{ site.baseurl }}/assets/acg-covers/games/{{ movie.title }}.jpg" loading="lazy" referrer-policy="no-referrer" width="200" height="270"><div class="movie-title">{{ movie.title }}</div></a>
        <div class="movie-rating" data-rating="{{ movie.mine }}"></div>
        <div class="movie-comment">{{ movie.comment }}</div>
        <div class="movie-date">{{ movie.date | date: "%Y.%m.%d" }}标记</div>
      </div>
      {% endfor %}
      {% assign five_star_movies_sorted = books | sort: "date" | reverse %}
      {% for movie in five_star_movies_sorted %}
      <div class="movie-single hide" data-value="{{ movie.date | date: '%Y' }}" data-rating="{{ movie.mine }}" data-type="book">
        <a href="{{ movie.link }}"><img class="lazy" data-src="{{ site.baseurl }}/assets/acg-covers/books/{{ movie.title }}.jpg" loading="lazy" referrer-policy="no-referrer" width="200" height="270"><div class="movie-title">{{ movie.title }}</div></a>
        <div class="movie-rating" data-rating="{{ movie.mine }}"></div>
        <div class="movie-comment">{{ movie.comment }}</div>
        <span class="movie-date">{{ movie.date | date: "%Y.%m.%d" }}标记</span>
      </div>
      {% endfor %}
    </div>
    {% include csv-update-date.html %}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
<script>
  new LazyLoad({});
</script>
