<script src="https://giscus.app/client.js"
        data-repo="zshowing/zshowing.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnk2ODMxMDU3Mw=="
        data-category="Announcements"
        data-category-id="DIC_kwDOBBJWLc4CUkLK"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
