<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, viewport-fit=cover">
	<title> Jon Showing - {{ page.title }}</title>
	<link rel="stylesheet" href="/assets/css/styles.css"></link>
	<link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/slick/slick-theme.css"/>
	<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
	<!-- <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"></link> -->
	<script src="https://kit.fontawesome.com/135e018b83.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="/assets/slick/slick.min.js"></script>
	<script src="/assets/js/script.js"></script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-R6BJK9WV14"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84283556-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-R6BJK9WV14');
	  gtag('config', 'UA-84283556-1');
	</script>
</head>

<div class="reading-progress-bar"></div>
<div class="content-wrapper">
	<div class="nav-container">
		<div class="logo"><a href="/"><img src="/assets/logo.png"></a></div>
		<div class="menu-button"><span id="menu-button"><i class="fa-solid fa-bars"></i></span></div>
		<ul class="nav-list">
			<li class="nav-item {% if page.layout == 'default'%}selected{% endif %}">
				<a class="nav-link" href="/"><span nav-hover="关于">About</span></a>
			</li>
			<li class="nav-item {% if page.category == 'photo' or page.layout == 'photo_set'%}selected{% endif %}">
				<a class="nav-link" href="/photo/"><span nav-hover="摄影">Photo</span></a>
			</li>
			<li class="nav-item {% if page.category == 'bloglist' or page.layout == 'post' %}selected{% endif %}">
				<a class="nav-link" href="/blog/"><span nav-hover="日志">Blog</span></a>
			</li>
			<li class="nav-item {% if page.category == 'project' or page.category == 'projectlist' %}selected{% endif %}">
				<a class="nav-link" href="/project/"><span nav-hover="项目">Project</span></a>
			</li>
			<li class="nav-item {% if page.category == 'thought' or page.layout == 'thought' %}selected{% endif %}">
				<a class="nav-link" href="/thought/"><span nav-hover="日常想法">Thought</span></a>
			</li>
			<li class="nav-item {% if page.category == 'acgbm' or page.layout == 'acgbm' %}selected{% endif %}">
				<a class="nav-link" href="/ACGBM/"><span nav-hover="书影游">ACGBM</span></a>
			</li>
		</ul>
	</div>
	{% if page.layout != 'post' and page.layout != 'photo_set' and page.category != 'photo' and page.layout != 'thought' and page.category != 'project' and page.category != 'projectlist' and page.category != 'acgbm' %}
	<div class="image-container" id="image-container">
		<div id="postcard-photo">
			<span class="loader"></span>
			<img src="" style="width: 100%;" id="photo" alt="">
			<div id="greeting"><img src="/assets/greeting.png"></div>
			<div id="location"></div>
			<div id="metas"></div>
		</div>
	</div>
	{% endif %}
	<!-- {{page.category}}
		{{page.layout}} -->
	<div class="{% if page.layout == 'photo_set' %}photolist-wrapper
		{% elsif page.category == 'photo' or page.category == 'projectlist'%} photoset-wrapper 
			{% elsif page.category == 'blog' or page.layout == 'post' or page.layout == 'thought' or page.layout == 'project' or page.layout == 'default' %}main-text{% else %}wrapper{% endif %}">
		{{ content }}
	</div>

	<footer class="footer">
		<div class="footer-inner">
			<div class="copyright">
				© 2016 – 
				<span itemprop="copyrightYear">2025</span>
				<span class="with-love">
					<i class="fa-solid fa-heart"></i>
				</span>
				<span class="author" itemprop="copyrightHolder">Jon</span>
			</div>
			<div class="powered-by">Powered by <a href="https://jekyllrb.com/" class="theme-link" rel="noopener" target="_blank">Jekyll</a>, theme designed by Jon.
			</div>
		</div>
	</footer>
</div>
</html>
