---
layout: default
---
{% assign num = page.photos.size %}
<!-- {% assign content = post.content | strip_newlines %} -->

<h1>{{ page.title }}</h1>
  {% if page.date != nil %}
    <div class="photo-date">{{ page.datedesc }}</div>
  {% endif %}
  {% if page.description != nil %}
    <div class="photo-description">{{ page.description }}</div>
  {% endif %}
<div>{{ page.content | markdownify}}</div>
<div class="photo-list">
  <div class="photo-item">
  {% for i in (1..num) %}
    <img src="{{ site.baseurl }}/assets/photos/{{ page.photos.set }}/{{ page.photos.set }}-{{ i }}.jpg">
  {% endfor %}
  </div>
</div>
<div>
  <a href="{{ site.baseurl }}/photo/">查看相册列表</a>
</div>
<script src="https://giscus.app/client.js"
        data-repo="zshowing/zshowing.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnk2ODMxMDU3Mw=="
        data-category="Announcements"
        data-category-id="DIC_kwDOBBJWLc4CUkLK"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
  </script>